nav{
    position:fixed;
    top:0;
    display: flex;
    z-index: 10;
    width: 100%;
    padding: 5px 15px 10px 10px;
    justify-content: space-between;
    background: transparent;
}
nav.scrolled{
    background-image: linear-gradient(#111, transparent);
}
nav img{
    object-fit: contain;
}
.user-icon{
    width: 20px;
    filter: invert(95%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
    cursor: pointer;
}
.logo{
    width: 40px;
    cursor: pointer;
}
